.main {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  font-family: 'DM Sans', sans-serif;
}

.title {
  position: absolute;
  width: 642px;
  height: 301px;
  left: 255px;
  top: 100px;

  font-style: normal;
  font-weight: 700;
  font-size: 81px;
  line-height: 100px;

  letter-spacing: -2px;

  color: #FFFFFF;
}

.title1 {
  position: absolute;
width: 403px;
height: 40px;
left: 43%;
top: 40px;

font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 55px;
/* or 153% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -1.5px;

color: #FFFFFF;
}

.paragraph {
  position: absolute;
  width: 507px;
  height: 116px;
  left: 255px;
  top: 375px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;


  color: #FFFFFF;
}

.walletAddress {
  position: absolute;
  width: 507px;
  height: 116px;
  left: 255px;
  top: 100px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;


  color: #FFFFFF;
}

.tokenBalance {
  position: absolute;
  width: 507px;
  height: 116px;
  left: 255px;
  top: 200px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;


  color: #FFFFFF;

  opacity: 0.7;
}

.paragraph1 {
position:absolute;
width: 215px;
left: 50.1%;
height: 40px;

top: 20px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 40px;
/* identical to box height, or 286% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 2.1px;
text-transform: uppercase;

color: #FFFFFF;

opacity: 0.7;
}

.swap {
  position: absolute;
  width: 350px;
  height: 65px;
  left: 300px;
  top: 325px;
}

.button {
  position: absolute;
  width: 350px;
  height: 65px;
  left: 255px;
  top: 500px;

  background: #FFFFFF;
  border-radius: 50px;

}

.buttonText {
  color: #0F2137;
}

.wallet1 {
  position: absolute;
  width: 350px;
  height: 500px;
  left: 180px;
  top: 200px;

  background: #FFFFFF;
  border-radius: 10px;
}

.wallet2 {
  position: absolute;
  width: 350px;
  height: 500px;
  left: 610px;
  top: 200px;

  background: #FFFFFF;
  border-radius: 10px;
}

.elem1 {
    position: absolute;
    width: 100px;
    height: 30px;
  
    background: #FFFFFF;
    border-radius: 10px;
  
}

.elem2 {
  
  position: absolute;
  width: 100px;
  height: 25px;
  left: 150px;

  background: #FFFFFF;
  border-radius: 10px;

}

.elem3 {
  
  position: absolute;
  width: 100px;
  height: 30px;
  top: 50px;

  background: #FFFFFF;
  border-radius: 10px;

}

.elem4 {
  
  position: absolute;
  width: 100px;
  height: 25px;
  left: 150px;
  top: 50px;

  background: #FFFFFF;
  border-radius: 10px;

}

.elem5 {
  
  position: absolute;
  width: 100px;
  height: 30px;
  top: 100px;

  background: #0F2137;
  color: #FFFFFF;
  border-radius: 10px;

}

.elem6 {
  
  position: absolute;
  width: 100px;
    height: 30px;
  left: 150px;
  top: 100px;

  background: #FFFFFF;
  border-radius: 10px;

}

.elem7 {
  position: absolute;
  width: 100px;
    height: 30px;
  top: 200px;

  background: #FFFFFF;
  border-radius: 10px;

}

.wallet3 {
  position: absolute;
  width: 350px;
  height: 500px;
  left: 1040px;
  top: 200px;

  background: #FFFFFF;
  border-radius: 10px;
}

.walletT {
  font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;

color: #0F2137;
}

